body
    margin: 0
    padding: 0
    +font-smoothing
    +smooth-scroll
    font-family: $faktPro   
    font-size: 20px   
    line-height: 1.5
    color: #000 
    letter-spacing: -0.2px
    // +css-lock(14,20,767,1400)

img
	max-width: 100%	
	height: auto

a
	text-decoration: none
	color: inherit

ul 
	margin: 0
	padding: 0
    list-style-type: none

button
    background-color: transparent 
    font-size: 0
    font-family: $faktPro

.out
    overflow: hidden
    min-height: 100vh
    position: relative

.arrow
    visibility: hidden
    opacity: 0
    transition: 0.8s opacity, 0.8s visibility
    display: inline-block
    padding-left: 5px
