{% for item in slider %}
<div class="content">
    <div class="wrapper">
        <div class="container-inner">
            {% for row in item.rows %}
            <div class="row {{row[0].rowClassName}}">
                {% for col in row %} {% if not col.rowClassName %}
                <div class="{{col.className}}">
                    {% if col.content %} {% for content in col.content %} 
                    {% if content.className %}
                    <div class="{{content.className}}">
                        {% if content.titleLarge %}
                        <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                        {% endif %} {% if content.title %}
                        <h5 class="title">{{content.title | safe}}</h5>
                        {% endif %} {% if content.image %}
                        <img src="img/{{content.image}}" alt=""> {% endif %} 
                        {% if content.label %}
                        <div class="label">{{content.label | safe}}</div>
                        {% endif %} 
                        {% if content.text %}
                        <p>{{content.text | safe}}</p>
                        {% endif %} 
                        {% if content.adress %}
                        <div class="adress">{{content.adress | safe}}</div>
                        {% endif %}
                        {% if content.email %}
                        <div class="email">
                            <a href="{{content.email | safe}}">{{content.email | safe}}</a>
                        </div>
                        {% endif %}
                         {% if content.phone %}
                        <div class="phone">{{content.phone | safe}}</div>
                        {% endif %}
                         {% if content.link %}
                        <a class="link" href="{{content.link.link}}">{{content.link.text | safe}}</a>
                        {% endif %}
                    </div>
                    {% else %} {% if content.titleLarge %}
                    <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                    {% endif %} {% if content.title %}
                    <h5 class="title">{{content.title | safe}}</h5>
                    {% endif %} {% if content.image %}
                    <img src="img/{{content.image}}" alt=""> {% endif %} {% if content.label %}
                    <div class="label">{{content.label | safe}}</div>
                    {% endif %} {% if content.text %}
                    <p>{{content.text | safe}}</p>
                    {% endif %} {% if content.adress %}
                    <div class="adress">{{content.adress | safe}}</div>
                    {% endif %} {% if content.email %}
                    <div class="email">{{content.email | safe}}</div>
                    {% endif %} {% if content.phone %}
                    <div class="phone">{{content.phone | safe}}</div>
                    {% endif %} {% if content.link %}
                    <a class="link" href="{{content.link.link}}">{{content.link.text | safe}}</a>
                    {% endif %} {% endif %} {% endfor %} {% endif %}
                </div>
                {% endif %} {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}