<footer class="footer">
    <div class="container-inner">
        <ul class="row">
            <li class="nav__item col-24">
                <a href="#" class="nav__link js-footer-visible ">hey@klimov.agency</a>
                <a href="#" class="nav__link js-footer-hidden is-hidden">Russia</a>
            </li>
            <li class="col-32">
                <ul class="nav__group">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Behance
                            <span class="nav__arrow">↗</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Facebook
                            <span class="nav__arrow">↗</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav__item col-42">
                <a href="#" class="nav__link">Jobs</a>
            </li>
        </ul>
        <div class="pagination">
            Scroll
        </div>
    </div>

</footer>