<footer class="footer">
    <div class="container-inner">
        <div class="row">
            <div class="col-24">
                <a href="{{footer_menu.email}}" class="email-footer js-footer-visible ">{{footer_menu.email}}</a>
                <a href="#" class="js-footer-hidden is-hidden">Russia</a>
            </div>
            <div class="col-31">
                <div class="nav-item">
                    <a href="#" class="nav-link">Behance
                        <span class="nav-arrow">↗</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Facebook
                        <span class="nav-arrow">↗</span>
                    </a>
                </div>
            </div>
            <div class="col-45">
                <div class="nav-item">
                    <a href="mailto:hero@klimov.agency" class="nav-link nav-email" data-email="hero@klimov.agency">Jobs</a>
                </div>
            </div>
        </div>
        <div class="pagination">
            Scroll
        </div>
    </div>
</footer>