<footer class="footer">
    <div class="container-inner">
        <div class="row">
            <div class="col-24 col-lg-55">
                <div class="nav-item">
                    <a href="#" class="nav-link">Behance
                        <span class="arrow">↗</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Facebook
                        <span class="arrow">↗</span>
                    </a>
                </div>
            </div>
            <div class="col-31 col-lg-45 d-sm-none">
                <button class="up" id="up">Top ↑</button>
            </div>
            <div class="col-45"></div>
        </div>
    </div>
</footer>