<header class="header">
    <div class="container-inner toggler-container">
        <nav class="nav">
            <ul class="nav__list row">
                <li class="col3">
                    <div class="logo">
                        <a href="#" class="nav__link">{{mixins.icon('logo')}}</a>
                    </div>
                </li>
                <li class="col4">
                    <ul class="nav__group">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Discover</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Agency</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item col5">
                    <a href="#" class="nav__link">Inspirations</a>
                </li>
            </ul>
        </nav>
        <div class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
