<header class="header">
    <div class="container-inner">
        <div class="row top-nav">
            <div class="col-24">
                <a href="{{top_menu.logo.link}}" class="logo">
                    <img src="img/{{top_menu.logo.src}}" alt="logo">
                </a>
            </div>
            <div class="col-31">
                <div class="nav-item nav-item--wider ">
                    <a href="{{top_menu.nav_items[0][0].href}}" class="nav-link is-active">{{top_menu.nav_items[0][0].title}}</a>
                </div>
                <div class="nav-item">
                     <a href="{{top_menu.nav_items[0][1].href}}" class="nav-link">{{top_menu.nav_items[0][1].title}}</a>
                </div>
            </div>
            <div class="col-45">
                <div class="nav-item">
                    <a href="{{top_menu.nav_items[1].href}}" class="nav-link">{{top_menu.nav_items[1].title}}</a>
                </div>
            </div>
        </div>
        <button class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="menu">
        <div class="wrapper">
            <div class="container-inner menu__container">
                {% for row in menu.rows %}
                <div class="row {{row[0].rowClassName}}">
                    {% for col in row %} {% if not col.rowClassName %}
                    <div class="{{col.className}}">
                        {% if col.content %} {% for content in col.content %}
                        <div class="{{content.className}}">
                            {% if content.className === "logo" %}
                                <img src="img/{{content.img}}" alt="{{content.img}}">
                            {% endif %}

                            {% if content.className === "menu__item" or content.className === "menu__item is-active" %}
                                <a href="{{content.link_link}}">{{content.link_text}}</a>
                            {% endif %}

                            {% if content.className === "social__item" %}
                            <a href="{{content.link_link}}">{{content.link_text}}
                                <span class="social__arrow">↗</span>
                            </a>
                            {% endif %}

                             {% if content.label %}
                            <div class="label">{{content.label | safe}}</div>
                            {% endif %} 
                            {% if content.text %}
                            <p>{{content.text | safe}}</p>
                            {% endif %} {% if content.adress %}
                            <div class="adress">{{content.adress | safe}}</div>
                            {% endif %} {% if content.email %}
                            <div class="email">
                                <a href="{{content.email | safe}}">{{content.email | safe}}</a> 
                            </div>
                            {% endif %} {% if content.phone %}
                            <div class="phone">{{content.phone | safe}}</div>
                            {% endif %}
                        </div>
                        {% endfor %} {% endif %}
                    </div>
                    {% endif %} {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</header>