<div class="project" id="project-page">
    <div class="container-inner">

        <div class="project__top">
        {% for row in project[0].project_header %}
            <div class="row {{row[0].rowClassName}}">
                {% for col in row %} 
                    {% if not col.rowClassName %}
                        <div class="{{col.className}}">
                        {% if col.content %} 
                            {% for content in col.content %} 
                                {% if content.className %}
                                <div class="{{content.className}}">
                                    {% if content.project_link_text %}
                                        <a class="project_link" href="{{content.project_link_text}}">{{content.project_link_text}}<span class='arrow'> → </span></a>
                                    {% endif %}
                                    {% if content.titleLarge %}
                                        <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                                    {% endif %}
                                    {% if content.title %}
                                    <h5 class="title">{{content.title | safe}}</h5>
                                    {% endif %}
                                    {% if content.text %}
                                        <p>{{content.text | safe}}</p>
                                    {% endif %} 
                                    {% if content.label %}
                                        <div class="label">{{content.label | safe}}</div>
                                    {% endif %} 
                                </div>
                                {% else %} 
                                    {% if content.project_link_text %}
                                        <a class="project_link" href="{{content.project_link_link}}">{{content.project_link_text | safe}}<span class='arrow'> → </span></a>
                                    {% endif %}
                                    {% if content.titleLarge %}
                                        <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                                    {% endif %}
                                    {% if content.title %}
                                        <h5 class="title">{{content.title | safe}}</h5>
                                    {% endif %}
                                    {% if content.text %}
                                        <p>{{content.text | safe}}</p>
                                    {% endif %}
                                    {% if content.label %}
                                        <div class="label">{{content.label | safe}}</div>
                                    {% endif %} 
                                {% endif %} 
                            {% endfor %}
                        {% endif %} 
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        </div>

        <div class="project__images">
        {% for row in project[0].project_content %}
        <div class="row">
            {% for col in row %} 
                {% if not col.rowClassName %}
                    <div class="{{col.className}}">
                    {% if col.content %} 
                        {% for content in col.content %} 
                            {% if content.className %}
                            <div class="{{content.className}}">
                                {% if content.titleLarge %}
                                    <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                                {% endif %}
                                {% if content.title %}
                                <h5 class="title">{{content.title | safe}}</h5>
                                {% endif %}
                                {% if content.label %}
                                <div class="label">{{content.label | safe}}</div>
                                {% endif %} 
                                {% if content.text %}
                                <p>{{content.text | safe}}</p>
                                {% endif %} 
                                {% if content.img %}
                                    <div class="project-picture"><img src="./img/{{content.img}}" alt="img"></div>
                                {% endif %} 
                            </div>
                            {% else %} 
                                {% if content.titleLarge %}
                                    <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                                {% endif %}
                                {% if content.title %}
                                    <h5 class="title">{{content.title | safe}}</h5>
                                {% endif %}
                                {% if content.label %}
                                    <div class="label">{{content.label | safe}}</div>
                                {% endif %}
                                {% if content.text %}
                                <p>{{content.text | safe}}</p>
                                {% endif %} 
                                {% if content.img %}
                                    <div class="project-picture"><img src="./img/{{content.img}}" alt="img"></div>
                                {% endif %} 
                            {% endif %} 
                        {% endfor %}
                    {% endif %} 
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div class="project__links">
    {% for row in project[0].project_footer %}
    <div class="row {{row[0].rowClassName}}">
        {% for col in row %} 
            {% if not col.rowClassName %}
                <div class="{{col.className}}">
                {% if col.content %} 
                    {% for content in col.content %} 
                        {% if content.className %}
                        <div class="{{content.className}}">
                            {% if content.titleLarge %}
                                <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                            {% endif %}
                            {% if content.title %}
                            <h5 class="title">{{content.title | safe}}</h5>
                            {% endif %}
                            {% if content.label %}
                            <div class="label">{{content.label | safe}}</div>
                            {% endif %} 
                            {% if content.text %}
                            <p>{{content.text | safe}}</p>
                            {% endif %} 
                            {% if content.social_links %}
                                {% for link in content.social_links %}
                                    <a class="social__link" href="{{link.social_link_link}}">{{link.social_link_text | safe}}</a>
                                {% endfor %}
                            {% endif %}
                            {% if content.project_link_text %}
                                <a class="project_link" href="{{content.project_link_text}}">{{content.project_link_text}}<span class='arrow'> → </span></a>
                            {% endif %}
                            {% if content.img %}
                                <div class="next-project-picture" style="background-image: url('img/{{content.img}}')"></div>
                            {% endif %} 
                        </div>
                       {% else %} 
                            {% if content.titleLarge %}
                                <h2 class="titleLarge">{{content.titleLarge | safe}}</h2>
                            {% endif %}
                            {% if content.title %}
                                <h5 class="title">{{content.title | safe}}</h5>
                            {% endif %}
                            {% if content.label %}
                                <div class="label">{{content.label | safe}}</div>
                            {% endif %}
                            {% if content.text %}
                            <p>{{content.text | safe}}</p>
                            {% endif %} 
                            {% if content.social_links %}
                                {% for link in content.social_links %}
                                    <a class="social__link" href="{{link.social_link_link}}">{{link.social_link_text | safe}}</a>
                                {% endfor %}
                            {% endif %}
                            {% if content.project_link_text %}
                                <a class="next-project-link" href="{{content.project_link_text}}">{{content.project_link_text}}<span class='arrow'> → </span></a>
                            {% endif %}
                            {% if content.img %}
                                <div class="next-project-picture" style="background-image: url('img/{{content.img}}')"></div>
                        {% endif %} 
                    
                        {% endif %} 
                    {% endfor %}
                {% endif %} 
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
</div>
</div>
</div>