.filter
    margin: 200px auto
    &__layout 
        text-align: center
    &__label
        font-size: 17px
        color: $light-grey
    &__buttons
        position: absolute
        display: flex
        flex-flow: column
        z-index: 5
        &--main
            top: 0
            left: 36px
        &--filter
            top: 50vh
            left: 36px
            transform: translateY(-50%)
    &__btn
        font-size: 20px
        color: $light-grey
        text-align: left
        line-height: 1.4
    &__item
        display: inline-block
        padding: 0 80px 45px
        position: static !important
        top: auto !important
        left: auto !important
    &__image
        +cover
        padding-bottom: 247px
        position: relative
        z-index: 3
        transition: 0.5s transform
        &:hover
            transform: translateY(42px)
            transition: 0.7s transform
        &--small
            width: 164px
            // padding-bottom: 150%
        &--middle
            width: 342px
        &--big 
            width: 439px
    &__text
        position: relative
        top: -247px
        left: 50%
        transform: translateX(-50%)
        z-index: 1

    // ===== BUTTONS POPUP =====
    &__filter
        opacity: 0
        visibility: hidden
        transition: opacity 1s, visibility 1s

    .filter__filter.is-active
        opacity: 1
        visibility: visible
        position: fixed
        top: 0
        left: 0
        height: 100%
        width: 100%
        z-index: 10
        background-color: $text-dark
        overflow: hidden
        transition: opacity 1s, visibility 1s
    


            
