.filter
    margin: 100px auto
    &__layout 
        text-align: center
    &__buttons
        position: absolute
        top: 100px
        left: -36px
        display: flex
        flex-flow: column
    &__btn
        font-size: 14px
        background-color: #0f0
        margin-bottom: 12px
        padding: 10px
        border: solid 1px #000
        border-radius: 3px
    &__item
        display: inline-block
        padding: 30px
        position: static !important
        min-width: 100px
    &__image
        +cover
        padding-bottom: 100%
        