.footer
    padding-bottom: 22px
    overflow: hidden
    width: 100%
    +gpu
    background-color: #fff
    position: absolute
    z-index: 200
    bottom: 0
    left: 0
    right: 0
    .dark-theme &
        color: $light-grey
        background-color: $text-dark
    +sm 
        padding-bottom: 10px

.is-hidden
    display: none

.is-visible
    display: block

.pagination
    position: absolute
    bottom: 0
    right: 42px
    z-index: 300
    font-size: 18px
    color: $light-grey
    
.nav-email
    position: relative
    display: block
    &:after
        position: absolute
        bottom: 100%
        left: 50%
        // width: 100%
        opacity: 0
        font-size: 16px
        content: attr(data-email)
        transform: translate(-50%, 100px)
        transition: transform 0.2s, opacity 0.9s
        background-color: rgba(0,0,0,.2)
        border-radius: 5px 
        padding: 10px 
        

.nav-email:hover:after
        display: block
        transform: translate(-50%, -10px)
        opacity: 1
        transition: transform 0.2s, opacity 0.9s

.up 
    font-size: 17px
    color: $light-grey