.header
    position: absolute
    top: 36px
    left: 0
    width: 100%
    z-index: 1000
    

.nav 
    &__group > 
        .nav__item:first-child
            margin-right: 38px
        .nav__item--wider 
            margin-right: 54px !important
    &__item
        display: inline-block
        list-style-type: none
    &__link.is-active 
            color: $orange
    &__arrow
        visibility: hidden
        opacity: 0
        transition: 0.8s opacity, 0.8s visibility
    &__item:hover .nav__arrow
        visibility: visible
        opacity: 1

.logo
    width: 88px

.toggler-container
    position: relative
    







        