.header
    position: absolute
    top: 0
    left: 0
    right: 0
    padding-top: 36px
    z-index: 1000
    background-color: #fff
    &.fixed
        position: 
        
#slider
    .header
        background-color: $text-dark
        color: $light-grey


.top
    align-items: center

.nav 
    &-item:first-child
        margin-right: 38px
    &-item--wider 
        margin-right: 54px !important
    &-item
        display: inline-block
    &-link.is-active 
        color: $orange
    &-arrow
        visibility: hidden
        opacity: 0
        transition: 0.8s opacity, 0.8s visibility
    &-item:hover .nav-arrow
        visibility: visible
        opacity: 1

.logo
    display: block
    max-width: 88px
    position: relative
    z-index: 10000
    +vertical
    &.logo-grey
        svg
            fill: $main-menu-color
            display: inline-block


  







        