.project
    padding-top: 157px
    padding-bottom: 134px
    .dark-theme &
        background-color: $text-dark
        color: $main-menu-color
        .label 
            color: $main-menu-color-muted
        .social__link
            color: $main-menu-color
    +sm 
        padding-top: $main-margin-top-sm
        padding-bottom: 130px
    &__top
        margin-bottom: 350px
        +lg 
            margin-bottom: 250px
        +md 
            margin-bottom: 150px
        +sm 
            margin-bottom: 66px
        p 
            max-width: 350px
        .label 
            margin-top: 24px
            font-size: 20px

    &__images
        margin-bottom: 20px
        .row
            padding-bottom: 60px
            margin: 0 -10px
            +sm 
                padding-bottom: 25px
        .col
            +md
                padding: 0 10px
        .project-picture
            width: 100% !important
    &-picture
        +cover
        +sm
            margin-bottom: 15px
    &__links-group
        p 
            line-height: 1.4
        +sm
            margin-bottom: 34px
    .project_link
        margin-bottom: 40px
        &:hover .arrow 
            visibility: visible
            opacity: 1
            +arrowTrans
    .mt-30
        margin-top: 30px
        +sm 
            margin-top: 0

.dark-theme
    background-color: $text-dark

// ===== IMAGES =====
.project-picture
    img
        width: 100% !important
        display: block
        max-width: none !important
.images-small
    .project-picture
        padding-bottom: 126%
    +sm 
        flex-flow: column

.images-middle
    .project-picture
        padding-bottom: 66%
    +sm 
        flex-flow: column

.images-big
    .project-picture
        padding-bottom: 52%

.margin-bottom-30
    margin-bottom: 30px
    +sm 
        margin-bottom: 0

// ===== LINKS =====

.social
    .label
        font-size: 17px
        line-height: 23px
        color: $light-grey
    &__link
        display: block
        line-height: 25px
        color: $text-dark
    p 
        line-height: 1.4
    

+sm 
    .order-sm-1
        order: 1
    .order-sm-2
        order: 2
    .order-sm-3
        order: 3
    .order-sm-4
        order: 4

// ===== NEXT-PROJECT =====

.next-project
    margin-top: 160px
    +lg 
        margin-top: 100px
    +md 
        margin-top: 60px
    +sm 
        margin-top: 10px
    .label
        font-size: 20px
        line-height: 28px
        color: $text-dark

.next-project-text
    margin-top: 30px
    
.next-project-link
    display: block
    font-size: 35px
    line-height: 1.42
    margin-top: 6px
    padding-right: 15px
    +sm 
        margin-top: 5px
    .icon-arrow-left
        width: 21px
        height: 17px
    &:hover .arrow
        visibility: visible
        opacity: 1

.next-project-picture
    max-width: 340px
    padding-bottom: 61%
    +cover
    +sm 
        padding-bottom: 200px

