#slider
    background-color: $text-dark
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: hidden

.slider-title
    font-size: 20px
    color: $orange
    text-decoration: underline
    font-weight: 400
    margin-top: 140px
    +sm 
        display: none

.slider
    width: 140%
    margin: 0 -65px 0 -65px 
    z-index: 4
    opacity: 0
    visibility: hidden
    transition: opacity 2s, visibility 2s
    +sm
        width: calc(100% + 15px)
        margin: 0
    &__container
        // margin-top: 140px
        // margin-bottom: 140px
        +vertical
        height: 400px
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        +sm
            margin-top: $main-margin-top-sm
    &__wrapper
        display: inline-block
        vertical-align: middle
        position: relative
        max-width: 100%
    &:before
        position: absolute
        top: 0
        bottom: 0
        right: calc(100% - 65px)
        background-color: $text-dark
        z-index: 100
        content: ''
        width: 20%
        +sm 
            display: none

.slide
    transition: transform 1.4s
    font-size: 20px
    +sm 
        padding: 0 8px 40px
    .active.center &
        transform: translateY(42px) 
        transition: transform 1.4s
        +sm 
            transform: translateY(0)
    &__img
        padding-bottom: 410px
        +cover
        z-index: 3
        transition: transform 0.8s
        +sm
            padding-bottom: 270px
            width: 250px
    &__text
        display: block
        position: relative
        top: -410px
        left: 0
        z-index: -1
        color: $light-grey
        transition: transform 1.4s
        &:hover .arrow
            visibility: visible
            opacity: 1
        .active.center &
            transform: translateY(-42px)
            transition: transform 1.4s
            +sm 
                transform: translateY(0)
        +sm 
            top: 16px
            z-index: 100
            

.owl-item
    // width: auto !important
    max-width: 613px
    +sm 
        max-width: 250px
    



