.icon-arr {
  width: 0.99em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1.24em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow {
  width: 0.93em;
  height: 1em;
  fill: currentColor;
}
.icon-loading {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-logo-grey {
  width: 3.53em;
  height: 1em;
  fill: currentColor;
}
.icon-logo {
  width: 3.53em;
  height: 1em;
  fill: currentColor;
}
